{% extends 'shared/layout.html' %}

{% block maincontent %}
      <!-- Row for content -->
      <div class="row-of-content">
        <div class="column">
          <img src="/static/main/images/headshot.jpeg" alt="Photo of me" loading="lazy">
        </div>
        <div class="column name-description">
          <h2>Amery Johnson</h2>
          <p>
              I am a fourth year computer science engineer at Michigan State University. I grew up in Grand Haven
              Michigan, which is right next to Lake Michigan! I have coding experience in Java, C, C++, Python,
              and even Assembly Language. And I now have experience in HTML, CSS, and Javascript! I also know
              how to build personal computers.
          </p>
        </div>
      </div>


      <div class="center-text">
        <h2>Fun Fact:</h2>
        <p>I can flip my tongue around on both sides</p>
      </div>

{% endblock %}