{% extends 'shared/layout.html' %}

{% block maincontent %}

<div class="center-text">
            <h2>Below is a list of projects I worked on in CSE 477:</h2>
            <p>Click an image, or hyperlink in the description to learn more.</p>
          </div>
          <!-- Row for content -->
          <div class="row-of-content">
            <div class="column">
                <a href="{{ url_for('piano') }}">
                    <img src="/static/main/images/piano.jpeg" alt="Photo of me" loading="lazy">
                </a>
            </div>
            <!-- Piano project description and link to page -->
            <div class="column name-description">
              <h2>Javascript Piano</h2>
              <p>
                  As part of my first homework assignment in CSE477, I developed an interactive piano build in pure
                  HTML, CSS, and Javascript. This tool (in addition to my webpage) highlight my ability to build
                  beautiful and mobile-friendly front-end applications.
                  <a href="{{ url_for('piano') }}"> Click here to see and play!</a>
              </p>
            </div>
          </div>


          <div class="center-text">
            <h2>More Coming Soon!</h2>
            <p></p>
          </div>

{% endblock %}